body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(15, 15, 15);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
}

#app button {
  background-color: rgb(77, 0, 184);
  color: white;
  padding: 26px 36px;
  font-size: 26px;
  border-radius: 12px;
  border-style: none;
  cursor: pointer;
  transition-duration: 300ms;
}

#app button:hover {
  background-color: rgb(94, 0, 225);
}

#confetti-layout {
  position: absolute;
}
